<xf:title>{{ phrase('terrasphere_core_mastery_traits') }}</xf:title>



<div class="block">
	<div class="block-container">
		
		<h2 class="block-header">
			{{ phrase('terrasphere_core_mastery_type') }}
			<xf:button href="{{ link('terrasphere-core/masteries/traits/addtype') }}" icon="add" style="float: right;">{{ phrase('add') }}</xf:button>
		</h2>
		<div class="block-body">
			<xf:datalist>
				<xf:foreach loop="$specialTypes" value="$specialType">
					<xf:if is="$specialType.mastery_type_id != 1">
						<xf:datarow>
							<xf:main hash="{$specialType.mastery_type_id}"
									 href="{{ link('terrasphere-core/masteries/traits/edittype', $specialType) }}"
									 label="{$specialType.name}">
							</xf:main>
						</xf:datarow>
					</xf:if>
				</xf:foreach>
			</xf:datalist>
		</div>
		
		<h2 class="block-header">
			{{ phrase('terrasphere_core_role') }}
			<xf:button href="{{ link('terrasphere-core/masteries/traits/addrole') }}" icon="add" style="float: right;">{{ phrase('add') }}</xf:button>
		</h2>
		<div class="block-body">
			<xf:datalist>
				<xf:foreach loop="$roles" value="$role">
					<xf:datarow>
						<xf:main hash="{$role.role_id}"
								 href="{{ link('terrasphere-core/masteries/traits/editrole', $role) }}"
								 label="{$role.name}">
						</xf:main>
					</xf:datarow>
				</xf:foreach>
			</xf:datalist>
		</div>
		
		<h2 class="block-header">
			{{ phrase('terrasphere_core_save') }}
			<xf:button href="{{ link('terrasphere-core/masteries/traits/addsave') }}" icon="add" style="float: right;">{{ phrase('add') }}</xf:button>
		</h2>
		<div class="block-body">
			<xf:datalist>
				<xf:foreach loop="$saves" value="$save">
					<xf:datarow>
						<xf:main hash="{$save.save_id}"
								 href="{{ link('terrasphere-core/masteries/traits/editsave', $save) }}"
								 label="{$save.name}">
						</xf:main>
					</xf:datarow>
				</xf:foreach>
			</xf:datalist>
		</div>
		
		<h2 class="block-header">
			{{ phrase('terrasphere_core_expertise') }}
			<xf:button href="{{ link('terrasphere-core/masteries/traits/addexpertise') }}" icon="add" style="float: right;">{{ phrase('add') }}</xf:button>
		</h2>
		<div class="block-body">
			<xf:datalist>
				<xf:foreach loop="$expertises" value="$expertise">
					<xf:datarow>
						<xf:main hash="{$expertise.expertise_id}"
								 href="{{ link('terrasphere-core/masteries/traits/editexpertise', $expertise) }}"
								 label="{$expertise.name}">
						</xf:main>
					</xf:datarow>
				</xf:foreach>
			</xf:datalist>
		</div>
		
	</div>
</div>