<xf:if is="$trait.isInsert()">
	<xf:title>{{ phrase('Add new trait') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('edit') }} ({$trait.name})</xf:title>
</xf:if>


<xf:form action="{{ link('terrasphere-core/masteries/traits/dumb', $trait,{'traitCategory' : $trait.entityShortName}) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:foreach loop="$trait.formStructure" key="$structureKey" value="$xfElement">
				
				<xf:if is="{$xfElement.xfComponent} == 'textboxrow'">
					<xf:textboxrow
					name="{$xfElement.name}"
					value="{$xfElement.value}"
					label="{$xfElement.label}"
					explain="{$xfElement.explain}"/>
				</xf:if>
				
				<xf:if is="{$xfElement.xfComponent}== 'icon_url'">
					<xf:formrow label="{$xfElement.label}">
						<xf:comment>
							data-asset needs to be changed to something better. That said, it basically takes the image name and data-asset makes a folder under asset with still the same filename, so in this case it would be under
							data/assets/placeholder/[imagename]
						</xf:comment>
						<div class="inputGroup inputGroup--joined" data-xf-init="asset-upload" data-asset="placeholder">
							<input type="text" class="input js-assetPath " name="icon_url" value="{{$trait.icon_url}}" dir="ltr" id="idkwhythisneedsanid">
							<label class="inputGroup-text inputUploadButton" data-xf-init="tooltip" data-original-title="Upload file" id="idkwhythisneedsanideither">
								<input type="file" class="js-uploadAsset" accept=".gif,.jpeg,.jpg,.jpe,.png">
							</label>
						</div>
					</xf:formrow>
				</xf:if>

				<xf:if is="{$xfElement.xfComponent} == 'numberboxrow'">
					<xf:numberboxrow name="{$xfElement.name}" value="{$xfElement.value}" min="$xfElement.min" max="$xfElement.max" step="$xfElement.step"
									 label="{$xfElement.label}"
									 explain="{$xfElement.explain}" />
				</xf:if>
			</xf:foreach>
        </div>
		<xf:submitrow sticky="true" icon="save" />
    </div>
</xf:form>