<xf:if is="$rankSchema.isInsert()">
    <xf:title>{{ phrase('terrasphere_core_add_rank_schema') }}</xf:title>
    <xf:else />
    <xf:title>{{ phrase('edit') }} ({$rankSchema.name})</xf:title>
</xf:if>

<xf:form action="{{ link('terrasphere-core/rank-schemas/save', $rankSchema) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:textboxrow name="name" value="{$rankSchema.name}"
                           label="{{ phrase('name') }}" />
            <xf:numberboxrow name="rank_d" value="{$rankSchema.rank_d}" min="0"
                             max="99999" step="1"
                             label="{{ phrase('Cost for D Rank') }}"/>
            <xf:numberboxrow name="rank_c" value="{$rankSchema.rank_c}" min="0"
                             max="99999" step="1"
                             label="{{ phrase('Cost for C Rank') }}"/>
            <xf:numberboxrow name="rank_b" value="{$rankSchema.rank_b}" min="0"
                             max="99999" step="1"
                             label="{{ phrase('Cost for B Rank') }}"/>
            <xf:numberboxrow name="rank_a" value="{$rankSchema.rank_a}" min="0"
                             max="99999" step="1"
                             label="{{ phrase('Cost for A Rank') }}"/>
            <xf:numberboxrow name="rank_s" value="{$rankSchema.rank_s}" min="0"
                             max="99999" step="1"
                             label="{{ phrase('Cost for S Rank') }}"/>

            <xf:selectrow name="currency_type" value="{$rankSchema.currency_id}" label="{{ phrase('dbtech_credits_currency') }}">
                <xf:foreach loop="$currencies" value="$currency">
                    <xf:option value="{$currency.currency_id}">{$currency.title}</xf:option>
                </xf:foreach>
            </xf:selectrow>

        </div>
        <xf:submitrow sticky="true" icon="save" />
    </div>
</xf:form>