<xf:if is="$trait.isInsert()">
    <xf:title>{{ phrase('Add new trait') }}</xf:title>
    <xf:else/>
    <xf:title>{{ phrase('edit') }} ({$trait.name})</xf:title>
</xf:if>


<xf:form
        action="{{ link('terrasphere-core/masteries/traits/dumb', $trait,{'traitCategory' : $trait.entityShortName}) }}"
        class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            
            <xf:textboxrow
                    name="name"
                    value="{$trait.name}"
                    label="{{ phrase('name') }}"/>
            <xf:textboxrow
                    name="css_classes"
                    value="{$trait.css_classes}"
                    label="{{ phrase('css') }}"/>
            <xf:textboxrow
                    name="hex_color"
                    value="{$trait.hex_color}"
                    label="{{ phrase('hex color') }}"/>


        </div>
        <xf:submitrow sticky="true" icon="save"/>
    </div>
</xf:form>