<xf:if is="$expertise.isInsert()">
	<xf:title>{{ phrase('terrasphere_core_add_expertse') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('edit') }} ({$mastery.display_name})</xf:title>
</xf:if>

<xf:form action="{{ link('terrasphere-core/expertise/save', $expertise) }}" class="block" ajax="true">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="display_name" value="{$expertise.display_name}"
				label="{{ phrase('name') }}" />
			
			<xf:selectrow name="role_id" value="{$expertise.role_id}" label="{{ phrase('terrasphere_core_role') }}">
				<xf:foreach loop="$roleTypes" value="$roleType">
					<xf:option value="{$roleType.role_id}">{$roleType.name}</xf:option>
				</xf:foreach>
			</xf:selectrow>

			<xf:textboxrow name="wiki_url" value="{$expertise.wiki_url}"
						   label="{{ phrase('wiki_url') }}" />
			
			<xf:formrow label="Icon Image" hint="Full-sized image">
				<div class="inputGroup inputGroup--joined" data-xf-init="asset-upload" data-asset="{{'Expertise-icon_url-' . $expertise.expertise_id}}">
					<input type="text" class="input js-assetPath " name="icon_url" value="{{$expertise.icon_url}}" dir="ltr" id="stilldontknowwhythisexists">
					<label class="inputGroup-text inputUploadButton" data-xf-init="tooltip" data-original-title="Upload file" id="stilldontknowwhythisexistseither">
						<input type="file" class="js-uploadAsset" accept=".gif,.jpeg,.jpg,.jpe,.png">
					</label>
				</div>
			</xf:formrow>
			
			<xf:formrow label="Thumbnail Image" hint="Smaller image ~64x64">
				<div class="inputGroup inputGroup--joined" data-xf-init="asset-upload" data-asset="{{'Expertise-thumbnail_url-' . $expertise.expertise_id}}">
					<input type="text" class="input js-assetPath " name="thumbnail_url" value="{{$expertise.thumbnail_url}}" dir="ltr" id="stilldontknowwhythisexists">
					<label class="inputGroup-text inputUploadButton" data-xf-init="tooltip" data-original-title="Upload file" id="stilldontknowwhythisexistseither">
						<input type="file" class="js-uploadAsset" accept=".gif,.jpeg,.jpg,.jpe,.png">
					</label>
				</div>
			</xf:formrow>
			
			<xf:textboxrow name="color" value="{$expertise.color}"
				label="{{ phrase('color') }}" />
		</div>
		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>