<xf:if is="$rankSchema.isInsert()">
    <xf:title>{{ phrase('terrasphere_core_add_rank_schema') }}</xf:title>
    <xf:else />
    <xf:title>{{ phrase('edit') }} ({$rankSchema.name})</xf:title>
</xf:if>

<xf:form action="{{ link('terrasphere-core/rank-schemas/save', $rankSchema) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:textboxrow name="name" value="{$rankSchema.name}"
                           label="{{ phrase('name') }}" />
            <xf:foreach loop="$rankParams" value="$rank">
                <xf:numberboxrow name="{$rank.rank_id}" value="{$rank.cost}"
                                 label="Cost for {$rank.rank_name}" min="0" max="99999" step="1" />
            </xf:foreach>
            <xf:selectrow name="currency_id" value="{$rankSchema.currency_id}" label="{{ phrase('dbtech_credits_currency') }}">
                <xf:foreach loop="$currencies" value="$currency">
                    <xf:option value="{$currency.currency_id}">{$currency.title}</xf:option>
                </xf:foreach>
            </xf:selectrow>

        </div>
        <xf:submitrow sticky="true" icon="save" />
    </div>
</xf:form>