<xf:title>{{ phrase('terrasphere_core_masteries') }}</xf:title>

<xf:pageaction>
	<xf:button href="{{ link('terrasphere-core/masteries/add') }}" icon="add">{{ phrase('add') }}</xf:button>
</xf:pageaction>

<div class="block">
	<div class="block-container">
		<xf:foreach loop="$masteryGroups" value="$masteryGroup">
			<h2 class="block-header">{$masteryGroup.name}</h2>
			<div class="block-body">
				<xf:datalist>
					<xf:foreach loop="{$masteryGroup.masteries}" value="$mastery">
						<xf:datarow
								hash="{$mastery.mastery_id}"
								href="{{ link('terrasphere-core/masteries/edit', $mastery) }}"
								label="{$mastery.display_name}"
								delete="todo"
								/>
					</xf:foreach>
				</xf:datalist>
			</div>
		</xf:foreach>
	</div>
</div>
