<xf:title>{{ phrase('Traits') }}</xf:title>

<xf:pageaction>
	<xf:button class="menuTrigger" data-xf-click="menu" aria-expanded="false" aria-haspopup="true">{{ phrase('Add trait...') }}</xf:button>
	<div class="menu" data-menu="menu" aria-hidden="true">
		<div class="menu-content">
			<h3 class="menu-header">{{ phrase('Add Trait...') }}</h3>

			<xf:foreach loop="$traitTypes" key="$traitTypeId" value="$traitType">
				<a href="{{ link('terrasphere-core/masteries/traits/add', null, {'type': $traitTypeId})}}"  class="menu-linkRow">{$traitTypeId}</a>
			</xf:foreach>
		</div>
	</div>
</xf:pageaction>

<div class="block">
	<div class="block-container">
		<h2 class="block-tabHeader tabs hScroller" data-xf-init="tabs h-scroller" data-state="replace" role="tablist">
			<span class="hScroller-scroll">
			<xf:foreach loop="$traitTypes" key="$traitTypeId" value="$traitType">
				<a class="tabs-tab"
				   role="tab"
				   tabindex="0"
				   aria-controls="trait-{$traitTypeId}"
				   id="{$traitTypeId}">{$traitTypeId}</a>
			</xf:foreach>
			</span>
		</h2>

		<ul class="tabPanes">
			<xf:foreach loop="$traitTypes" key="$traitTypeId" value="$traitType">
				<li class="block-body"
					role="tabpanel" id="trait-{$traitTypeId}">
						<xf:datalist>
							<xf:foreach loop="$traitType" value="$type">
								<xf:datarow
										hash="{$type.id}"
										href="{{ link('terrasphere-core/masteries/traits/edit', $type, {'traitCategory' : $type.entityShortName})}}"
										label="{$type.name}"
										hint=""
										delete="{{ link('terrasphere-core/masteries/traits/delete', $type, {'traitCategory' : $type.entityShortName})}}"
										dir="auto"/>
							</xf:foreach>
						</xf:datalist>
				</li>
			</xf:foreach>
		</ul>
	</div>
</div>